td{
  width: 200px;
  height: 50px;
  font-size: 15pt;
  text-align: left;
}
table {
border-collapse: collapse;
}
.und{
  border-bottom: solid lightgray 1px;
}
thead {
  font-size: 15pt;
  font-weight: bold;
  text-align: left;
}
